header{
	background-color: #8F0000;
}
h1{
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
}

img{
	display: none;
}

h2{
	color: #0F0F0F;
	text-transform: uppercase;
}

section{
	background-color: #666666;
}
a{
	text-decoration: none;
	color: #00FF00;
	background-color: #000000;
}
